#card-body{
    background-size: 70%;
    display: inline;
    display: inline-block;
    background-color: rgb(223, 245, 245);
}
#task-list li{
list-style: none;
}
#task-list li i:hover {
    color: red;
}
.overLine{
    text-decoration:line-through
}
.active {
    text-decoration:line-through;

    color: red;
  }